tmp/*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea*


tmp/results.json

tmp/results.json

tmp/results.xml

tmp/results.txt

tmp/results.txt
